@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1.2s linear;
  }
}

.multi-range-slider .thumb::before {
  border: none !important;
  box-shadow: none !important;
}

.multi-range-slider .bar-inner {
  border: none !important;
  box-shadow: none !important;
}
