@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&display=swap');

:root {
  font-family: 'Lato', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;

  background: linear-gradient(
      180.92deg,
      rgba(16, 17, 19, 0.8) 19.77%,
      rgba(22, 23, 27, 0.5) 56.89%
    ),
    url(./assets/background.png);
  background-size: cover;
  background-repeat: repeat-y;
}

p,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* Global styles */

.container {
  padding: 1rem 6rem;
}

.space-between {
  justify-content: space-between;
  width: 100%;
}
/* Top Navigation */

.top-navigation {
  padding: 1rem 6rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.left-navigation {
  display: flex;
  align-items: center;
}

.left-navigation nav {
  margin-left: 8px;
}

.nav-item {
  color: #fff;
  display: inline-block;
  padding: 10px;
  transition: color 200ms ease-in-out;
}

.nav-item:hover {
  color: #6fcf97;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  align-items: center;
}

.btn-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.btn {
  position: relative;
  padding: 9px 15px;
  background: url(assets/img/btn-bg.png) center center no-repeat;
  background-size: 100% 100%;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  /*border: 2px solid #6FCF97;*/
  border-radius: 30px;
  color: #6fcf97;
  text-transform: uppercase;
  width: 190px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  & img {
    width: 18px;
    margin-right: 8px;
  }

  & span {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
  }
  &:before {
    position: absolute;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    -webkit-transform: skew(40deg, 0deg);
    -ms-transform: skew(40deg, 0deg);
    transform: skew(40deg, 0deg);
    border: 2.51957px solid #6fcf97;
    border-radius: 1.67972px;
    left: -20px;
    bottom: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    -webkit-transform: skew(40deg, 0deg);
    -ms-transform: skew(40deg, 0deg);
    transform: skew(40deg, 0deg);
    border: 2.51957px solid #6fcf97;
    border-radius: 1.67972px;
    right: -20px;
    top: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
  }
  &:hover {
    border-color: #fff;
    color: #fff;
    &:after,
    &:before {
      border-radius: 20px;
      -webkit-transform: skew(0deg, 0deg);
      -ms-transform: skew(0deg, 0deg);
      transform: skew(0deg, 0deg);
      border-color: #fff;
    }
  }
}

.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  & .box-2 {
    width: 50%;
    position: relative;

    & img {
      width: 90%;
      position: absolute;
      right: -40px;
      top: 0;
    }

    & .stats-box {
      display: flex;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 2.25rem;
      gap: 1rem;
      position: absolute;
      right: 20px;
      top: 320px;
      background: linear-gradient(
        100.87deg,
        #363c37 6.49%,
        #1c3d39 59.91%,
        rgba(38, 38, 38, 0.1) 102.06%
      );
      backdrop-filter: blur(50px);
      & h2 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
      }

      & p {
        font-size: 0.95rem;
      }
    }
  }

  & .box-1 {
    width: 50%;

    & .bottom-wrapper {
      margin-top: 2rem;
    }

    & h1 {
      line-height: 1.35;
      font-weight: 700;
      & span {
        color: #6fcf97;
      }
    }
    p {
      margin-top: 4px;
      font-size: 1.2rem;
    }
  }
}

.hero {
  padding: 0rem 6rem;
  align-items: flex-start;

  & .content-box {
    margin-top: 100px;
  }
}

.product {
  background: url('./assets/img/Hexagon.png') no-repeat;
  background-position: center;
  background-size: 58%;
  margin-top: 16rem;
  height: 100vh;
  text-align: center;
  & img {
    width: 80%;
    display: block;
    margin-top: 2rem;
  }
}
.green-text {
  color: #6fcf97;
}

.features {
  margin-top: 16rem;
  padding-top: 3.2rem;
  padding-bottom: 4.8rem;
  background-color: #1f2124;
  text-align: center;

  & .slider-box {
    margin-top: 3.2rem;
  }

  & .sub-section {
    margin: 8rem auto;

    & h2 {
      font-size: 2rem;
    }

    & p {
      font-size: 1rem;
      margin-top: 1rem;
    }

    & .content {
      text-align: left;
      margin-top: 6rem;

      & h3 {
        font-size: 1.8rem;
      }
      & p {
        font-size: 0.9rem;
      }
    }
  }
}

.trade-card {
  padding: 1rem;
  background: #32323a;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;

  & img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  & .indicator {
    width: 100%;
    background-color: #9b51e0;
    height: 8px;
    border-radius: 10px;
    margin-top: 1rem;
  }
}

.auction-card {
  padding: 0.6rem;
  background: #20232d;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  text-align: left;
  gap: 12px;

  & .auction-name {
    font-weight: bold;
    text-transform: uppercase;
  }

  & .auction-flex {
    gap: 6px;

    & small {
      font-size: 0.6rem;
    }
  }

  & .auction-flex-sub {
    color: #787885;
    display: flex;
    gap: 10px;
  }
  & .img-container {
    width: 50%;
    height: 100%;
    background: #00000033;
    display: grid;
    place-items: center;
  }

  & small {
    font-size: 0.75rem;
  }
  & h5 {
    margin-top: -6px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  & .instant-buy {
    color: #fb8200;
  }

  & .bottom {
    margin-top: 0.5rem;

    &.-text {
      margin-top: -0.4rem;
    }
  }

  & .bottom-wrapper {
    margin-top: 1rem;
    & .auction-avatar {
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }

    & button {
      background-color: transparent;
      border: 1.2px solid #6fcf97;
      border-radius: 4px;
      padding: 4px 12px;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(0.9);
      }
    }
  }
}

.header {
  margin-top: 4rem;
}
